$tb_yellow: #a7753c;
$tb_text_white: rgba(0, 0, 0, 0.753);
$tb_background_secondary: #eff2fc;
$tb_background_primary: #fafcff;
$tb_footer_background_color: #ecf0f7e3;
$tb_border_color: rgba(0, 0, 0, 0.1);
$tb_text_shadow_color: rgba(0, 0, 0, 0.001);