$tb_yellow: hsl(32, 47%, 45%);
$tb_text_primary: rgba(0, 0, 0, 0.753);
$tb_text_secondary: rgba(255, 255, 255, 0.753);
$tb_background_secondary: hsl(32, 33%, 95%);
$tb_background_primary: hsl(32, 33%, 100%);
$tb_footer_background_color: #ecf0f7e3;
$tb_border_color: rgba(0, 0, 0, 0.1);
$tb_text_shadow_color: rgba(0, 0, 0, 0.001);
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 1920px;
