@import "variables";

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $tablet-breakpoint) {
    flex-direction: column-reverse;
  }
}

input {
  margin-bottom: 1rem;
}

.form-header {
  color: $tb_yellow;
  display: flex;
  align-self: center;
}

.left-side-of-form {
  display: flex;
  flex: 1;
  @media screen and (max-width: $tablet-breakpoint) {
    width: 100% !important;
  }
}

.right-side-of-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
