@import 'variables';
$font-family_1: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

body {
  margin: 0px;
  font-family: $font-family_1;
  color: $tb_text_primary;
  background-color: $tb_background_primary;
}

a {
  cursor: pointer;
}



button {
  background-color: $tb_yellow;
  border: none;
  color: $tb_text_secondary;
  border: 1px solid transparent;
  border-radius: 2px;

  &:hover {
    color: $tb_yellow !important;
    background: $tb_background_secondary;
    border: 1px solid $tb_border_color;
    cursor: pointer;
  }
}
.skill-pill{
  background-color:$tb_yellow;
  border-radius:6px;
  padding:3px 12px;
  height:min-content;
  color:$tb_text_secondary;
  // flex:0 0 21%;

  p{
    color:$tb_text_secondary;
    margin:0px;
  }
}