@import 'variables';

.footer-container {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: $tb_footer_background_color;
  backdrop-filter: blur(10px);
}