@import 'variables';

.header-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding-top: 2rem;
}

title {
  display: flex;
  flex: 1;
  min-width: 20%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: $tb_yellow;
  padding-inline: 4rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  text-shadow: 2px 2px 10px $tb_text_shadow_color;

  h1 {
    &:hover {
      color: $tb_text_primary;
      cursor: pointer;
      text-shadow: 2px 2px 10px $tb_text_shadow_color;
    }
  }
}

h1 {
  font-weight: 700;
}

.header-icon {
  height: 2.5rem;
  margin-left: 1rem;
}

.hyperlinks {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex: 1;
  padding-inline: 4rem;
  background: $tb_background_secondary;
  padding-block: 1rem;
  border-block: 1px solid rgba(255, 255, 255, 0.05);

  a {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hyperlink-icon {
  margin-right: 0.5rem;
}

a {
  color: $tb_text_primary;
  text-decoration: none;

  &:hover {
    color: $tb_yellow;
  }
}