.header-container {
  height: 10vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding-inline: 20rem;
  background: rgb(39, 71, 107);
}
title {
  display: flex;
  flex: 0;
  min-width: 20%;
  /* justify-content: space-around; */
  justify-content: flex-start;
}
.hyperlinks {
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  flex: 1;
}
