@import 'variables';

.tables-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  h3 {
    color: $tb_yellow;
  }
}

.left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  th {
    width: 50%;
    text-align: left;
  }
}

td {
  width: 50%;
  text-align: left;
}

.right-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

  th {
    width: 30%;
    text-align: left;
  }

  td {
    width: 30%;
    text-align: left;
  }
}