@import 'variables';

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.task {
  color: $tb_yellow;
  text-decoration: underline;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-button {
  background: transparent;
  color: $tb_text_primary;
  border: none;
  height: min-content;
  padding: 1rem;
  outline: 1px solid rgba(255, 255, 255, 0.8);

  &:hover {
    color: $tb_yellow;
    cursor: pointer;
  }
}