@import 'variables';

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.team-name {
  color: $tb_yellow;
  text-decoration: underline;
}

.single-team-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0px;

  >p {
    margin: 0px;
  }

  >h1 {
    margin: 0px;
  }
}

a {
  margin: 0px;
}

h5 {
  margin: 0px;
}

.edit-team-button {
  color: $tb_text_primary;
  margin-top: 1rem;

  a {
    color: $tb_text_primary;
  }
}

li {
  margin-bottom: 1rem;
}

.team-member {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  min-height:3rem;
  width: 100%;

  button {
    height: min-content;
  }

  p {
    margin: 0px;
  }
}

.member-name {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.team-data-column{
  display:flex;
  width:25%;
  overflow-y: scroll;
}
.skills-container{
  display:flex;
  gap:1rem;
  padding-inline:1rem;
  box-sizing: border-box;
  flex-wrap:wrap;
}