.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.use-case {
  color: #e1c16e;
  text-decoration: underline;
}
.use-case-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.use-case-button {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  height: min-content;
  padding: 1rem;
  outline: 1px solid rgba(255, 255, 255, 0.8);
}
.use-case-button:hover {
  color: #e1c16e;
  cursor: pointer;
}
