.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.team-name {
  color: #e1c16e;
  text-decoration: underline;
}
.single-team-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0px;
}
.single-team-container > p,
a {
  margin: 0px;
}
.single-team-container > h1,
h5 {
  margin: 0px;
}
.edit-team-button {
  color: black;
  margin-top: 1rem;
}
.edit-team-button a {
  color: black;
}

li {
  margin-bottom: 1rem;
}

.team-member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.team-member button {
  height: min-content;
}
.team-member p {
  margin: 0px;
}

button {
  /* margin-top: 1rem; */
}
.member-name {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
