$color_1: #e1c16e;
$color_2: black;

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.team-name {
  color: $color_1;
  text-decoration: underline;
}

.single-team-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0px;

  >p {
    margin: 0px;
  }

  >h1 {
    margin: 0px;
  }
}

a {
  margin: 0px;
}

h5 {
  margin: 0px;
}

.edit-team-button {
  color: $color_2;
  margin-top: 1rem;

  a {
    color: $color_2;
  }
}

li {
  margin-bottom: 1rem;
}

.team-member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  button {
    height: min-content;
  }

  p {
    margin: 0px;
  }
}

.member-name {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}