$color_1: #e1c16e;
$color_2: rgba(255, 255, 255, 0.8);

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.use-case {
  color: $color_1;
  text-decoration: underline;
}

.use-case-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.use-case-button {
  background: transparent;
  color: $color_2;
  border: none;
  height: min-content;
  padding: 1rem;
  outline: 1px solid rgba(255, 255, 255, 0.8);

  &:hover {
    color: $color_1;
    cursor: pointer;
  }
}