@import 'variables';

.table-container {
  height: min-content;
  min-width: 100%;
  border-radius: 5px;
}

tr {
  min-height: 3rem;
  border-bottom: 1px solid $tb_border_color;
  display: flex;
  align-items: center;
}

.table-header {
  display: flex;
  justify-content: center;
  color: $tb_yellow;
  text-shadow: 2px 2px 10px $tb_text_shadow_color;
}

td {
  display: flex;
  flex-direction: column;
}

.teams-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 2rem;
  height: 3rem;

  &:hover {
    background: $tb_background_secondary;
    cursor: pointer;
    border-inline: 1px solid $tb_border_color;
  }
}

.expanded-team-table-row {
  padding-inline: 2rem;
  border-inline: 1px solid $tb_border_color;
}